.payment-container{
    li{
        display: inline-block
    }
    p{
        margin: 0.5rem 2rem;
    }
    button{
        padding: 0.5rem 2rem;
        border-radius: 5px;
    }
    .loading_payment{
        content: "";
        position: absolute;
        margin-top: 0rem;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid var(--main-color);
        border-top-color: white;
        animation: spinner 1s linear infinite;
    }
}