.find-order-container{
    position: absolute;
    left: 0;
    right: 0;
    padding: 2rem 1rem;
    background-color: white;
    z-index: 1;
    min-height: 50rem;

    .find-bar{
        input{
            border-radius: 10px;
            border: 2px solid var(--main-color);
            text-align: center;
            padding: 0.3rem 2rem;
            font-size: 1rem;
            &:hover{
                background: var(--main-color);
                color: white;
            }
        }
        input{
            width: 200px;
            padding: 0.5rem 2rem;
        }
        button{
            margin-top: 1rem;
            font-size: 1.3rem;
            animation: GoAround 4s linear infinite;
            padding: 1rem;
            &:hover{
                color: var(--main-color);
            }
        }
        @keyframes GoAround {
            from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
            to   { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
        }
    }

    .order-content{
        max-width: 600px;
        margin: 3rem auto;
        text-align: left;
        padding: 1rem;
        border: 2px solid var(--main-color);
    }
}