* {
    padding: 0;
    margin: 0;
    font-family: 'Assistant', 'Arial', 'sans-serif';
    font-weight: 400;
}

:root{
    --main-color: #ffdab9;
    --main-background: #ffdab9;
    --main-text: #555555;
}

body {
    margin: 0px;
    min-height: 100%;
}
.body{
    min-height: 100vh;
}

a, li, input, button, p, label, h1, h2, h3, div, img, textarea, form, label{
    transition: ease-in-out 0.2s;
}

a, li, input, button, p, label{
    -webkit-appearance: none;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    background: none;
    color: var(--main-text);
}
h1, h2, h3 {
    color: var(--main-text)
}
div{
    &::-webkit-scrollbar {
        display: none;
    }
}
img{
    object-fit: cover;
    border-radius: 10px;
}
textarea {
    resize: none;
    outline: none;
    border: none;
    color: var(--main-text);
}
button{
    cursor: pointer;
    border-radius: 10px;
}


.main-btn{
    font-size: 16px;
    margin-top: 1rem;
    border: 2px solid var(--main-color);
    &:hover{
        color: white;
        background: var(--main-color);
    }
}
@mixin Loading($width, $heigth, $top){
    content: "";
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: $top;
    width: $width;
    height: $width;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    border-top-color: white;
    animation: spinner 1s linear infinite;
}

.loading:before {
    @include Loading(60px, 60px, 10rem)
}
.loading_3:before {
    @include Loading(15px, 15px, -2rem)
}
.loading_2:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    border-top-color: white;
    animation: spinner 1s linear infinite;
}
.loading_4:before{
    @include Loading(30px, 30px, 1rem)
}


@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}

.hidden{
    display: none;
}

.icon{
    margin: -0.2rem;
}

._center_{
    text-align: center;
    margin: 5rem 0.5rem;
}