.stats-container{
    position: absolute;
    left: 0;
    right: 0;
    padding: 2rem 1rem;
    background-color: white;
    z-index: 1;
    min-height: 50rem;

    button{
        padding: 0.5rem 3rem;
        border: 2px solid var(--main-color);
        font-size: 18px;
        &:hover{
            background: var(--main-color);
            color: white;
        }
    }
    .stats-content{
        margin: 2rem auto;
        text-align: left;
        max-width: 400px;
        li{
           margin: 0.5rem 0;
        }
    }
}