.authentication-container{
    margin-top: 4rem;
    padding: 0.5rem;

    form{
        text-align: center;
        margin: 0 auto;
        padding:1rem;
        max-width:400px;
        border-radius: 10px;

        h2{
            margin-bottom: 1rem;
        }

        input, button{
            text-align: center;
            font-size: 1rem;
            margin-bottom: 0.5rem;
            border: 2px solid var(--main-color);
            width: 95%;
            border-radius: 5px;
            padding: 0.5rem 0;
            &:hover{
                opacity: 0.7;
                background: var(--main-color);
            }
        }

        .correct{
            border: 2px solid rgba(32, 217, 118, 0.457);
        }

        button{
            margin-top: 1rem;
        }

        .link-to{
            text-align: center;
            margin-top: 2rem;
            a{
            padding: 0.2rem;
            border-bottom: 2px solid white;
            &:hover{
                color:var(--main-color);
                border-bottom: 2px solid var(--main-color);
                }
            }
        }
    }

    .checking-user-exist{
        margin: 1.5rem;
        min-height: 2rem;

        p{
            position: absolute;
            width: 25px;
            height: 25px;
            left:0;
            right:0;
            margin-left:auto;
            margin-right:auto;
            border-radius: 50%;
            border: 3px solid var(--main-color);
            border-top-color: white;
            animation: spinner 1s linear infinite;
        }
    }

    .confirm-email-content{
        text-align: center;
        h2{
            font-size: 1rem;
        }
    }
}