.forgotten-password-container{
    margin: 10rem auto;
    text-align: center;
    padding: 0.5rem;

    form{
        border: 2px solid var(--main-color);
        min-width: 200px;
        max-width: 400px;
        min-height: 200px;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 10px;

        input{
            text-align: center;
            font-size: 18px;
            padding: 0.5rem 0 ;
            width: 200px;
            border-bottom: 3px solid var(--main-color);
        }
        h2{
            margin-bottom: 2rem;
        }

        button{
            margin: 2rem 0;
            font-size: 18px;
            padding: 0.5rem 2rem;
            &:hover{
                color: var(--main-color);
            }
        }
    }
    .sent{
        padding: 2rem;
        font-size: 1rem;
        border: 2px solid var(--main-color);
    }
    
}