.create-feed-container{
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;

    form{
        border-radius: 10px;
        margin: auto;
        max-width: 600px;
        padding: 0.5rem;
        border: 3px solid var(--main-color);

        textarea{
            padding: 0.5rem;
            width: 95%;
            font-size: 1rem;
            min-height: 6rem;
        }
        button{
            font-size: 1rem;
            margin-top: 1rem;
            border: 3px solid var(--main-color);
            padding: 0.5rem 3rem;
            &:hover{
                background: var(--main-color);
                color: white;
            }
        }
    }
}

.feed-title{
    margin-top: 4rem;
}

.feed-container{
    margin: 2rem 0 ;
    .feed-content{
        border-bottom: 1px solid var(--main-color);
        max-width: 600px;
        margin: 0 auto;
        &:hover{
            max-width:90%;
            font-size: 1.2rem;
        }
        li{
            margin: 1rem 0;
        }
        button:hover{
            color: rgb(255, 130, 130);
        }
    }
}

@media (max-width: 550px){
        .feed-title{
            margin-top: 1rem;
            h2{
                font-size: 1.3rem;
            }
        }
}