.home-upload-image-container{
    .upload-content{
        margin-bottom: 1rem;
        form{
            label{
                border-radius: 5px;
                cursor: pointer;
                padding: 0.5rem;
                background: var(--main-color);
                &:hover{
                    color: white;
                }
            }
            li{
                margin: 0.3rem 0.4rem;
                display: inline-block;
            }
            button{
                border-radius: 5px;
                font-size: 1rem;
                padding: 0.5rem;
                background: var(--main-color);
                &:hover{
                    color: white;
                }
            }
        }
    }

    .gallery-content{
        .images{
            display: inline;
            img{
                width:25%;
                height:280px;
                border-radius: 0;
                margin: -0.2rem 0;
            }
            button{
                position: absolute;
                margin: 0 -1.5rem;
                font-size: 1.2rem;
                color: rgb(190, 186, 186);
                &:hover{
                    color: red;
                }
            }
        }
    }

}

@media (max-width: 700px){
    .home-upload-image-container{
        .gallery-content{
            .images{
                img{
                    width:25%;
                    height:150px;
                }
            }
        }
    }
}

@media (max-width: 420px){
    .home-upload-image-container{
        .gallery-content{
            .images{
                img{
                    width:25%;
                    height:100px;
                }
            }
        }
    }
}