.user-info-container{

    h2{
        margin: 2rem 0;
    }

    form{
        margin: auto;
        max-width: 300px;
        padding: 1rem;
        border-radius: 10px;
        border: 2px solid var(--main-color);

        p, input{
            font-size: 16px;
        }

        input{
            text-align: center;
            border-radius: 0px;
            margin-top: 0.2rem;
            margin-bottom: 1rem;
            border-bottom: 2px solid var(--main-color);
            padding: 0.2rem 0.2rem;
            width: 95%;
        }

        button{
            margin-top: 1rem;
            border: 2px solid var(--main-color);
            padding: 0.3rem 2rem;
            &:hover{
                color: white;
                background: var(--main-color);
            }
        }

        .see-password{
            cursor: pointer;
        }
    }

}