.gallery-container{
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: 40px 250px;
    grid-column-gap: 0.2rem;
    grid-template-areas: 
    "small large"
    ;
    
    @mixin image($width, $height, $brightness){
        img{
            object-fit:cover;
            width: $width;
            height: $height;
            border: none !important;
            background: transparent !important;
            border-radius: 5px;
            &:hover{
                filter: brightness($brightness)
            }
        }
    }

    .gallery-select-image{
        grid-area: small;
        max-height: 220px;
        overflow: auto;
        .images{
            @include image(40px, 40px, 105%)
        }
    }

    .gallery-main-image{
        grid-area: large;
        @include image(250px, 220px, 105%)
    }
}

@media (max-width: 420px){
    .gallery-container{
        grid-template-columns:1fr;
        grid-template-areas: 
        "large "
        "small "
        ;
        
        @mixin image($width, $height, $brightness){
            img{
                width: $width;
                height: $height;
                border: none !important;
                background: transparent !important;
                border-radius: 5px;
                &:hover{
                    filter: brightness($brightness)
                }
            }
        }
    
        .gallery-select-image{
            grid-area: small;
            display: flex;
            overflow-x: auto;

            .images{
                display:inline-block;
                margin: 0 0.1rem;
                @include image(40px, 40px, 120%)
            }
        }
    
        .gallery-main-image{
            grid-area: large;
            margin: auto;
            img{
                width: 100%;
            }
        }
    }
}