.update-container{
    padding: 0.5rem;
    
    h2{
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    form{
        padding: 1rem;
        min-width: 200px;
        max-width: 500px;
        margin: auto;
        border: 3px solid var(--main-color);
        border-radius: 10px;
        text-align: left;

        p{
            margin: 0.5rem 0;
        }

        input, textarea{
            border-radius: 10px;
            width: 87%;
            border: 3px solid var(--main-color);
            padding: 0.4rem 1rem;
        }
        textarea{
            min-height: 60px;
        }
        button{
            padding: 0.3rem 0.3rem;
            margin-right: 0.5rem ;
            width: 90px;
        }
        .type{
            background: var(--main-color);
            color: white;
        }

        .main-btn{
            margin: 1rem 0;
        }
    }

}