.order-container{
    padding: 2rem 1rem;

    span{
        font-weight: 600;
    }

    .header-content{
        margin-top: 2rem;
        text-align: left;
        border: 2px solid var(--main-color);
        li{
            font-size: 1.2rem;
            display: inline-block;
            width: 20%;
        }
        li:nth-child(1){
            width: 10%;
        }
    }

    .detail-content{
        text-align: left;
        padding: 0.5rem 0;
        button{
            font-size: 1rem;
            &:hover{
                color: var(--main-color);
            }
        }
        .icon{
            margin: -0.1rem 0.2rem;
            transition: 0s;
        }
        .processing-icon{
            color: rgb(248, 60, 60);
        }
        .completed-icon{
            color: rgb(81, 243, 121);
        }
        li{
            display: inline-block;
            width: 20%;
        }
        li:nth-child(1){
            text-align: center;
            width: 10%;
        }
    }

    .more-content{
        padding: 0.5rem 0;
        width: 100%;
        border: 2px solid var(--main-color);
        .content{
            margin: 0 3rem;
            text-align: left;
            li{
                display: inline-block;
                margin-right: 1rem;
            }
            .title{
                max-width: 140px;
                width: 100%;
            }
            .quantity{
                width: 60px;
            }
        }
        .valuation{
            margin: 1rem 3rem;
            .total{
                margin: 0 3.2rem;
            }
            .postage{
                margin:0 2rem ;
            }
            .discount{
                margin: 0 1.6rem;
            }
            .final-total{
                margin: 0 0.5rem;
            }
        }
        .message{
            margin: 1rem 3rem;
            max-width: 600px;
        }
    }

    .total-content{
        text-align: center;
        margin-top: 4rem;
    }
}

@media (max-width: 550px){
    .order-container{
        padding: 0;
    
        .header-content{
            text-align: center;
            border: 1px solid var(--main-color);
            li{
                margin: 0.3rem 0 ;
                font-size: 0.9rem;
                padding: 0rem 0;
            }
            li:nth-child(1){
                width: 5%;
            }
        }
    
        .detail-content{
            text-align: center;
            padding: 0.5rem 0;

            button{
                font-size: 15px;
            }
            li{
                font-size: 15px;
                overflow: auto;
                margin: 0 0.2rem;
            }
            li:nth-child(1){
                width: 5%;
            }
        }
    
        .more-content{
            padding: 0.5rem 0;
            border: 2px solid var(--main-color);
            .content{
                margin: 0 1rem;
                text-align: left;
                li{
                    font-size: 15px;
                    display: inline-block;
                    margin-right: -0.5rem;
                }
                .title{
                    max-width: 130px;
                }
                .quantity{
                    width: 70px;
                }
            }
            .valuation{
                margin: 0.5rem 1rem;
            }
        }
    }
}