.admin-container{
    margin-top: 0.5rem;
    text-align: center;

    ul{
        li{
            display: inline-block;
            margin: 0.1rem 0.4rem;
            button{
                font-size: 18px;
                padding: 0.2rem 1rem;
                &:hover{
                    color: white;
                    background-color:  var(--main-background);
                }
            }
            .open{
                color: white;
                background-color:  var(--main-background);
            }
        }
    }

}