.admin-container{
    margin-top: 0.5rem;
    text-align: center;

    ul{
        li{
            display: inline-block;
            margin-top: 1rem;
            button{
                border-radius: 0;
                font-size: 1.5rem;
                padding: 0.2rem 1rem;
                border-bottom: 2px solid  white;
                &:hover{
                    color: var(--main-color);
                }
            }
            .open{
                animation: Choosen 3s infinite;

            }
            @keyframes Choosen {
                from{color: var(--main-color)}
                to{color: rgb(255, 217, 0)}
            }
        }
    }

}