/* Global ALlert Styles */
@mixin text-color($color){
    color: $color;
    text-align: center;
}
  
.alert {
@include text-color(#333);
position: fixed;
margin: 3.7rem 0;
right: 10px;
border-radius: 5px;

font-size: 0.9rem;
padding: 0.3rem;

background: black;
z-index: 999999;

animation: ComeIn 2s
}

@keyframes ComeIn{
    0% {
    transform: translateX(20%);
    }

    50% {
    transform: translateX(0%);
    }
}

:root {
--primary-color: #17a2b8;
--dark-color: #343a40;
--light-color: #f4f4f4;
--danger-color: #f15968;
--success-color:  #4fd680;
}

.alert-primary {
background: var(--primary-color);
@include text-color(#fff);
}

.alert-dark {
background: var(--dark-color);
@include text-color(#fff);
}

.alert-danger {
background: var(--danger-color);
@include text-color(#fff);
}

.alert-success {
background: var(--success-color);
@include text-color(#fff);
}

.alert-light {
background: var(--light-color);
@include text-color(#333);
}