.payment-container{
    li{
        display: inline-block
    }
    p{
        margin: 0.5rem 2rem;
    }
    button{
        padding: 0.5rem 2rem;
        border-radius: 5px;
        border: 2px solid var(--main-color);
        font-size: 1rem;
        &:hover{
            color: white;
            background-color: var(--main-color);
        }
    }
    .loading_payment{
        content: "";
        position: absolute;
        margin-top: 0rem;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid var(--main-color);
        border-top-color: white;
        animation: spinner 1s linear infinite;
    }
    .loading-stripe-legacy{
        content: "";
        position: absolute;
        margin-top: -0.3rem ;
        margin-left: -1.6rem;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 3px solid var(--main-color);
        border-top-color: white;
        animation: spinner 1s linear infinite;
    }
}