.gift-container{
    text-align: center;
    margin: 2rem auto;
    padding: 0.5rem;

    .gift-card-balance{
        margin-bottom: 5rem;

        form{
            input{
                text-align: center;
                width: 200px;
                padding: 0.5rem;
                font-size: 1rem;
                border-bottom: 2px solid var(--main-color);
            }
        }
    }

    .gift-content{
        margin: 3rem auto;

        button{
            margin: 0.5rem;
            font-size: 1.5rem;
            
            .icon, .icon-selected{
                font-size: 1rem;
                margin: 0rem 0.5rem;
            }
            .icon-selected{
                color: var(--main-color);
            }
            &:hover{
                color: var(--main-color);
            }
        }
    }

    .gift-card-content{
        min-height: 450px;
        form{
            max-width: 400px;
            min-height: 200px;
            border-radius: 10px;
            border: 5px double var(--main-color);
            margin: 1rem auto;

            input{
                text-align: center;
                margin-bottom: 0.5rem;
                width: 80%;
                border-bottom: 2px solid var(--main-color);
                &:hover{
                    border-bottom: 2px solid rgb(255, 166, 2);
                }
            }
            h1{
                margin: 0.5rem;
            }

            textarea{
                width: 95%;
                text-align: center;
                min-height: 50px;
            }
        }

        .buy-gift-card{
            margin-top: 1rem;
            font-size: 3rem;
        }
        .gift-right-arrow{
            animation: rightArrow 3s ease infinite;
        }
        .gift-left-arrow{
            animation: leftArrow 3s ease infinite;
        }
        @keyframes leftArrow {
            0% {
            transform: translateX(-20%);
            }
        
            50% {
            transform: translateX(20%);
            }
        
            100% {
            transform: translateX(-20%);
            }
        }
        @keyframes rightArrow {
            0% {
            transform: translateX(20%);
            }
        
            50% {
            transform: translateX(-20%);
            }
        
            100% {
            transform: translateX(20%);
            }
        }
    }
}