.gift-container{
    text-align: center;
    margin: 2rem auto;
    padding: 0.5rem;

    .gift-content{
        margin: 3rem auto;

        .pick-balance{
            margin: 0.5rem;
            font-size: 1.5rem;
            
            .icon, .icon-selected{
                font-size: 1rem;
                margin: 0rem 0.5rem;
            }
            .icon-selected{
                color: var(--main-color);
            }
            &:hover{
                color: var(--main-color);
            }
        }
    }

    h2{
        padding: 1rem;
        font-size: 1.2rem;
        max-width: 600px;
        margin: 0 auto;
    }

    .gift-card-content{
        min-height: 450px;

        form{
            max-width: 400px;
            min-height: 200px;
            border-radius: 10px;
            border: 5px double var(--main-color);
            margin: 1.5rem auto;
            padding: 1rem;

            input, label, textarea{
                font-size: 1rem;
                width: 100%;
                text-align: left;
                display: inline-block;
            }
            input{
                margin-bottom: 0.5rem;
            }

            .balance{
                position: relative;
                p{
                    font-size: 1.7rem;
                    background-color: white;
                    color: var(--main-color);
                    position: absolute;
                    right: -0.5rem;
                    margin-top: -1rem;
                    padding: 0.5rem;
                }
            }

            textarea{
                min-height: 100px;
            }
        }
        .wrap-gift-card-btn{
            font-size: 1.5rem;
            margin-bottom: -1rem;   
            &:hover{
                color: var(--main-color);
            }
        }

        .buy-gift-card-btn{
            font-size: 3rem;
            margin-bottom: -1rem;
        }
        .gift-right-arrow{
            animation: rightArrow 3s ease infinite;
        }
        .gift-left-arrow{
            animation: leftArrow 3s ease infinite;
        }
        @keyframes leftArrow {
            0% {
            transform: translateX(-20%);
            }
        
            50% {
            transform: translateX(20%);
            }
        
            100% {
            transform: translateX(-20%);
            }
        }
        @keyframes rightArrow {
            0% {
            transform: translateX(20%);
            }
        
            50% {
            transform: translateX(-20%);
            }
        
            100% {
            transform: translateX(20%);
            }
        }
    }

    .gift-card-balance{
        form{
            input{
                text-align: center;
                width: 200px;
                padding: 0.5rem;
                font-size: 1rem;
                border-bottom: 2px solid var(--main-color);
            }
            button{
                font-size: 1rem;
                padding: 0.5rem 4rem;
                border-radius: 5px;
                border: 2px solid var(--main-color);
                &:hover{
                    background-color: var(--main-color);
                    color: white;;
                }
            }
        }
    }

}