.contact-container{
    text-align: center;
    margin: 3rem 0.5rem;

    h1{
        margin: 2rem 0;
    }
    form{
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        border: 2px solid var(--main-color);
        padding: 0.5rem;
        border-radius: 5px;

        input, textarea{
            text-align: left;
            width: 90%;
            margin: 0.5rem 0;
        }
        textarea{
            min-height: 150px;
        }
        button{
            font-size: 1rem;
            &:hover{
                color: var(--main-color);
            }
        }
        h2{
            padding: 2rem;
        }
    }
}