.product-container{
    padding: 0.5rem;

    .product-content{
        min-height: 600px;
        border-radius: 10px;
        margin-top: 2rem;
        display: grid;
        grid-column-gap: 0.2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "left right"
        "review review"
        ;

        .image-content{
            grid-area: left;
            margin: 0.5rem;
        }

        .information-content{
            grid-area: right;
            padding: 0 2rem;
            .title{
                font-size: 2.4rem;
                margin-bottom: 1rem;
            }

            .info{
                h2{
                    font-size: 1.5rem;
                }
                P{
                    margin-bottom: 1rem;
                }
            }
        }

        .review-content{
            grid-area: review;
            margin: 3rem 1rem;
        }

    }
}

@media (max-width: 780px){
    .product-container{
        padding: 0;
    
        .product-content{
            min-width: 200px;
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "left"
            "right"
            "review"
            ;
    
            .image-content{
                grid-area: left;
            }

            .information-content{
                grid-area: right;
            }

            .review-content{
                grid-area: review;
            }
        }
    }
}