.products-container{
    .template-container{
        margin: 0rem auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        
        .card{
            text-align: center;
            margin: 2rem 1rem;
            min-width: 250px;
            width: 300px;
            background-color: white;
            border: 3px solid #fff5ec;
            border-radius: 10px;
            padding: 0.1rem;

            &:hover{
                background-color:  #fff5ec;
            }

            .star{
                position: absolute;
                font-size: 1.5rem;
                color: rgb(158, 156, 156);
            }

            img{
                object-fit: cover;
                width: 100%;
                height: 300px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            h2{
                font-size: 1.6rem;
                margin-top: 0.5rem;
            }
            p{
                font-size: 1.2rem;
                margin: 0.5rem;
            }
            .out-of-stock{
                z-index: 0;
                font-size: 1rem;
                position: absolute;
                margin: -3rem 0rem;
                background: white;
                opacity: 0.8;
                padding: 0.5rem 0.9rem;
            }
        }
    }
}

@media (max-width: 550px){
    .products-container{
        .template-container{
            .card{
                margin: 1rem 1rem;
                img{
                    height: 250px;
                }
            }
        }
    }
}