.review-container{
    .icon{
        margin: -0.15rem 0rem;
        color: gold;
    }

    h2{
        text-align: center;
    }

    .write-review-btn{
        text-align: center;
        button{
            font-size: 1.5rem;
            &:hover{
                color: var(--main-color);
            }
        }
    }

    form{
        text-align: center;
        border-radius: 10px;
        padding: 0.5rem;
        border: 2px solid var(--main-color);
        max-width: 600px;
        margin: 0 auto;

        input, textarea{
            text-align: center;
            margin: 0.2rem;
            font-size: 1rem;
            width: 95%;
            padding: 0.3rem;
        }
        textarea{
            min-height: 10rem;
        }
        .rating-stars{
            label{
              cursor: pointer;
              display: inline-flex;
              font-size: 30px;
              color: grey;
            }
          
            .star-gold{
              color: gold;
            }
            .star-black{
              color: black;
              opacity: 0.2;
            }
          
            input[type="radio"]{
            display: none;
            }
        }
        button{
            font-size: 1rem;
            padding: 0.2rem 1rem;
            border: 2px solid var(--main-color);
            &:hover{
                background: var(--main-color);
                color: white;
            }
        }  
    }

    .mapping-reviews-container{
        position: relative;
        .reviews{
            border-radius: 5px;
            border: 2px solid var(--main-color);
            margin: 1rem 0;
            padding: 0.5rem;
            overflow: auto;
            max-height: 110px;
            
            span{
                font-weight: 600;
            }

            .bin-review-btn{
                position: absolute;
                right: 10px;
                margin: -7px -3px;
                button:hover{
                    color: red;
                }
            }
        }
    }

    .pagination{
        text-align: center;
        .arrow-icon{
            margin: -0.5rem 0;
        }
        li{
            display: inline-block;
        }
        button{
            margin: 0 2rem;
            font-size: 35px;
            &:hover{
                color: var(--main-color);
            }
        }
    }

}